body{
  background-color: lightsteelblue;
  /* background-image: url('../pics/oldLondonCoffeeHouse.jpg'); */
  /* background-image: url('https://media0.giphy.com/media/1PMVNNKVIL8Ig/giphy.gif?cid=790b76115cf67e014967396d41b112c5&rid=giphy.gif'); */
  background-repeat: no-repeat;
  background-size: 1528px 736px;
}
/* /Users/davidtsui/development/projects/sei-project-1/pics/oldLondonCoffeeHouse.jpg */

section{
  display: flex;
}
.grid{
  align-self: flex-start;
  display: flex;
  flex-wrap: wrap;
  height: 600px;
  width: 350px;
  margin: 0 auto;
}

.about{
  text-align: center;
  margin-top: 50px;
}

.scoreboard, .highscoreboard{
  text-align: center;
  height: 30px;
  width: 150px;
  padding: 2px;
  margin: 2px;
  border: 1px solid forestgreen;
  background-color: navy;
  color: white;
}

.music-title{
  text-align: center;

}
.music-buttons{
  display: flex;
}


.music{

  align-self: flex-start;
  height: 40px;
  width: 40px;
  padding: 2px;
  margin: 2px;
  border: 1px solid forestgreen;
}
.stopMusic{

  align-self: flex-end;
  height: 40px;
  width: 40px;
  padding: 2px;
  margin: 2px;
  border: 1px solid forestgreen;
}

#currentSong{
  display: flex;
}

.grid-item {
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid blue;
}

div.grid-item.activeItem {
  /* background-image: url('../assets/pika-sprite.png'); */
  background-color: gold;
  background-repeat: no-repeat;
  background-size: contain;
}

div.idle {
  background-color: darkcyan;
  background-size: contain;
}
