body{
  /* background-color: lightsteelblue; */
  /* background-image: url('../pics/oldLondonCoffeeHouse.jpg'); */
  background-image: url('../pics/maxresdefault.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Patrick Hand SC', cursive;
}
/* /Users/davidtsui/development/projects/sei-project-1/pics/oldLondonCoffeeHouse.jpg */

section{
  display: flex;
}
.grid{
  align-self: flex-start;
  display: flex;
  flex-wrap: wrap;
  height: 600px;
  width: 350px;
  margin: 0 auto;

}


.scoreboard, .highscoreboard{
  text-align: center;
  font-size: 20px;
  height: 30px;
  width: 230px;
  margin: auto;
  border: 1px solid silver;
  background-color: SaddleBrown;
  color: white;
  opacity: 0.8;
}

.score{
  color: aqua;
}


.about{
  text-align: center;
  margin-top: 50px;
  color: navy;
  text-shadow: 2px 2px 0 gold, 2px -2px 0 gold, -2px 2px 0 gold, -2px -2px 0 gold, 2px 0px 0 gold, 0px 2px 0 gold, -2px 0px 0 gold, 0px -2px 0 gold;
  font-size: 40px;
  font-family: 'Bentham', serif;

}

.resetDiv{
  display: flex;
}

.reset{
  text-align: center;
  margin: 10px auto;
  background-color: peru;
  color: black;
  /* text-shadow: 2px 2px 0 gold, 2px -2px 0 gold, -2px 2px 0 gold, -2px -2px 0 gold, 2px 0px 0 gold, 0px 2px 0 gold, -2px 0px 0 gold, 0px -2px 0 gold; */
  border-radius: 20px;
  font-size: 15px;
  font-family: 'Bentham', serif;
  opacity: 0.8;
}
.reset:hover {
  background-color: crimson;
}


.instructions{
  text-align: center;
  margin-top: 50px;
  color: white;
  font-size: 20px;
  font-family: 'Fredericka the Great', cursive;
}
.music-title{
  text-align: center;
  color: azure;
  font-size: 30px;
  font-family: 'Fredericka the Great', cursive;

}
.music-buttons{
  display: flex;
}


.music:hover, .stopMusic:hover {background-color: navy}

.music:active, .stopMusic:active {
  background-color: navy;
  /* box-shadow: 0 5px dimgrey; */
  transform: translateY(2px);
}

.music{

  align-self: flex-start;
  height: 40px;
  width: 60px;
  font-size: 10px;
  padding: 2px;
  margin-left: 120px;
  margin-right: 10px;
  border: 1px solid silver;
  border-radius: 30px;
  font-family: 'Fredericka the Great', cursive;
  background-color: maroon;
  color: white;
  opacity: 0.7;
}
.stopMusic{

  align-self: flex-end;
  height: 40px;
  width: 60px;
  font-size: 10px;
  padding: 2px;
  margin-right: 120px;
  margin-left: 10px;
  border: 1px solid silver;
  border-radius: 30px;
  font-family: 'Fredericka the Great', cursive;
  background-color: maroon;
  color: white;
  opacity: 0.7;
}

#currentSong{
  display: flex;
}

.grid-item {
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid white;
}

div.grid-item.activeItem {
  /* background-image: url('../assets/pika-sprite.png'); */
  background-color: gold;
  background-repeat: no-repeat;
  background-size: contain;
}

div.idle {
  background-color: darkcyan;
  background-size: contain;
}
